[submodule "robot_learning_baselines/model_architectures/transporter_networks"]
	path = robot_learning_baselines/model_architectures/transporter_networks
	url = git@github.com:peterdavidfagan/transporter_networks.git
[submodule "robot_learning_baselines/model_architectures/multi_modal_transformers"]
	path = robot_learning_baselines/model_architectures/multi_modal_transformers
	url = git@github.com:peterdavidfagan/multi_modal_transformers.git
[submodule "robot_learning_baselines/data_preprocessing/octo"]
	path = robot_learning_baselines/data_preprocessing/octo
	url = git@github.com:octo-models/octo.git
[submodule "robot_learning_baselines/data_preprocessing/dlimp"]
	path = robot_learning_baselines/data_preprocessing/dlimp
	url = git@github.com:kvablack/dlimp.git
