dtype: float32
param_dtype: float32

# describe the input sequence modalities and number of tokens
tokens_per_task_description: 16
tokens_per_image: 75
tokens_per_readout: 4
token_embedding_dim: 768 
num_observation_blocks: 2
input_sequence: "[TaskDescriptionPrefix{16}] [Image{25};Readout{4}]*2"

defaults:
  - tokenizers/text: t5_base
  - tokenizers/images: gato_resnet
  - tokenizers/readouts: octo
  - attention_blocks: vanilla_decoder
  - action_heads: diffusion

