name: open_x_embodiment_data_transfer

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 1"
  pull_request:
  push:
    branches: ['main']
    paths:
      - robot_learning_baselines/dataloaders/open-x-embodiment.py

env:
  REGISTRY: ghcr.io
  ORG_NAME: peterdavidfagan
  IMAGE_NAME: open_x_embodiment_data_transfer

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: recursive
          token: ${{ secrets.PAT }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}
      
      - name: free disk space
        run: |
          sudo swapoff -a
          sudo rm -rf /swapfile /usr/share/dotnet /usr/local/lib/android /opt/ghc
          sudo apt clean
          df -h
          
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: .docker/data_transfer/Dockerfile.data_transfer
          push: true
          no-cache: true
          tags: ${{ env.REGISTRY }}/${{ env.ORG_NAME }}/${{ env.IMAGE_NAME }}:latest
